<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_scene_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>menu_scene_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{127,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,41}}</string>
                <key>sourceSize</key>
                <string>{127,41}</string>
            </dict>
            <key>menu_scene_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{125,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,41}}</string>
                <key>sourceSize</key>
                <string>{125,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu_scene.png</string>
            <key>size</key>
            <string>{580,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f496cabb46a23b4bb6aeaf952f66ad7:c8ca47caa8001f944f93fd1b41589f3e:f7a06ab55076f34b936dd5f32b31eb72$</string>
            <key>textureFileName</key>
            <string>menu_scene.png</string>
        </dict>
    </dict>
</plist>
